.cardForm {
    display: block;
    margin: 0 auto;
    width: 400px;
    border-radius: 3px;
    background: white;

}

.cardForm h3 { 
    color: black;
    text-align: center;
}

.cardForm input {
    margin-bottom: 12px;
    padding-left: 45px;
    width: 100%
}

form {
    padding: 20px;
}

.space {
    background: #3dcdbc;
    background: -moz-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #3dcdbc), color-stop(100%, #33a1bd));
    background: -webkit-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: -o-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: -ms-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: linear-gradient(to right, #3dcdbc 0%, #33a1bd 100%);

    display: block;
    min-height: 100vh;
    padding-top: 150px;
}

form i {
    position: absolute;
    color: white;
    background: #3dcdbc;
    padding: 5px;
}